.playback {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.playOptions {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.mainicons {
  width: 25px;
}

.playicon {
  width: 40px;
}

.mainicons {
  opacity: 0.6;
  cursor: pointer;
}

.mainicons:hover {
  opacity: 1;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.range-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #2c3e50;
  outline: none;
  overflow: hidden;
}

.range-slider__range::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border: 0;
  border-radius: 50%;
  background: #375574;
  cursor: pointer;
  -moz-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-moz-range-thumb {
  background: #1abc9c;
}

.range-slider__range[type="range"]::-moz-range-progress {
  background-color: #1db954;
  height: 100%;
  border-radius: 5px;
}
.range-slider__range[type="range"] {
  cursor: pointer;
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #2c3e50;
  outline: none;
}

.range-slider__range[type="range"]::-webkit-slider-runnable-track {
  height: 15px;
  -webkit-appearance: none;
  color: #13bba4;
}

.range-slider__range[type="range"]::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
  -webkit-appearance: none;
  background: #434343;
  box-shadow: -1000px 0 0 1000px #1db954;
}
